@import url('https://fonts.googleapis.com/css?family=Roboto+Serif:600.css');

@import 'colors.less';

#app-root-2022-ukraine_brief_3_dashboard .app {
  background-color: #E3EDF6;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto auto;
  padding: 40px 0 40px 0;
  width: 100%;
  .app_content {
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: linear;
    h1 {
      box-sizing: border-box;
      font-family: "Roboto Serif";
      margin: auto auto 40px auto;
      padding: 0 5px;
      text-align: center;
    }
    .dashboard_items {
      align-content: center;
      box-sizing: border-box;
      display: flex;
      flex-wrap: wrap;
      margin: auto auto 20px auto;
      max-width: 1350px;
      padding: 0 5px;
      .dashboard_item {
        flex: 0 0 25%;
        margin-bottom: 40px;
        width: 280px;
        @media all and (max-width: 1000px) {
          flex: 50%;
        }
        @media all and (max-width: 500px) {
          box-sizing: border-box;
          flex-wrap: nowrap;
          flex: 50%;
          margin-bottom: 20px;
          padding: 0 10px;
        }
        .dashboard_circle {
          background-color: #f1f1f1;
          border-radius: 50%;
          border: 10px solid #fff;
          height: 200px;
          margin: auto auto 20px auto;
          width: 200px;
          @media all and (max-width: 500px) {
            background-color: transparent;
            border-radius: 0;
            border: 0;
            height: auto;
            margin: auto auto;
            width: auto;
          }
          .dashboard_item_image {
            font-size: 0;
            margin-bottom: 10px;
            margin-top: 10px;
            text-align: center;
            @media all and (max-width: 500px) {
              display: none;
            }
            img {
              height: 80px;
              width: auto;
              min-width: 1px;
            }
          }
          .dashboard_chart {
            height: 30px;
            margin: auto auto 10px auto;
            width: 160px;
            @media all and (max-width: 500px) {
              display: none;
            }
            svg {
              height: 100%;
              width: 100%;
              .line_container {
                height: 30px;
                .line {
                  fill: none;
                  stroke-width: 2.5;
                  stroke: #ED1847;
                }
              }
            }
          }
          .dashboard_item_value {
            color: #009edb;
            font-size: 40px;
            font-weight: 700;
            text-align: center;
            .value {
              display: inline-block;
              text-align: right; 
              width: 70px;
            }
          }
        }
        .dashboard_item_title {
          color: #009edb;
          font-size: 18px;
          font-weight: 700;
          letter-spacing: 0.02em;
          margin-bottom: 0px;
          text-align: center;
          margin-bottom: 2px;
          text-transform: uppercase;
        } 
        .dashboard_item_meta {
          color: #6E6259;
          font-size: 15px;
          font-weight: 300;
          margin-bottom: 5px;
          text-align: center;
        } 
        .dashboard_item_desc {
          color: #000;
          font-size: 16px;
          font-weight: 300;
          margin-bottom: 5px;
          margin: auto auto;
          max-width: 200px;
          text-align: center;
        } 
      }
    }
    
    .footnote_container {
      max-width: 1350px;
      display: none;
      margin: auto auto 40px auto;
      p {
        color: #6E6259;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 5px;
        text-align: center;
      }
    }
    .tabs_container {
      display: flex;
      justify-content: space-between;
      margin: auto auto auto auto;
      max-width: 800px;
      width: 100%;
      .tab_container {
        flex: 100%;
        text-align: center;
        box-sizing: border-box;
        @media all and (min-width: 801px) {
          &:nth-child(2) {
            margin: 0 20px;
          }
        }
        @media all and (max-width: 800px) {
          &:nth-child(2) {
            button {
              border-width: 0 1px 0 1px
            }
          }
        }
        button {
          background-color: #009edb;
          border: 0;
          box-sizing: border-box;
          color: #000;
          cursor: pointer;
          display: block;
          font-family: "Roboto Serif";
          font-size: 0;
          height: 70px;
          line-height: 70px;
          text-align: center;
          transition-duration: 0.1s;
          transition-property: border-radius;
          transition-timing-function: linear;
          width: 100%;
          @media all and (min-width: 801px) {
            border-radius: 20px 20px;
            &.selected,
            &.not_selected {
              border-radius: 20px 20px 0 0;
              border-radius: 20px 20px 0 0;
            }
          }
          @media all and (max-width: 800px) {
            width: 100%;
            border-style: solid;
            border-color: #E3EDF6;
          }
          &:hover,
          &.selected {
            .label.label_food:before {
              background-image: url("../assets/img/icons/Ukraine_brief_3-2022-food.png");
            }
            .label.label_energy:before {
              background-image: url("../assets/img/icons/Ukraine_brief_3-2022-energy.png");
            }
            .label.label_finance:before {
              background-image: url("../assets/img/icons/Ukraine_brief_3-2022-finance.png");
            }
          }
          .label {
            color: #000;
            display: inline-block;
            font-size: 20px;
            position: relative;
            vertical-align: middle;
            @media all and (max-width: 500px) {
              width: 100%;
            }
            &.label_food:before {
              background-image: url("../assets/img/icons/Ukraine_brief_3-2022-food_w.png");
            }
            &.label_energy:before {
              background-image: url("../assets/img/icons/Ukraine_brief_3-2022-energy_w.png");
            }
            &.label_finance:before {
              background-image: url("../assets/img/icons/Ukraine_brief_3-2022-finance_w.png");
            }
            &:before {
              background-position: 0 50%;
              background-repeat: no-repeat;
              background-size: 100% auto;
              content: '';
              display: block;
              height: 100%;
              left: 0;
              position: absolute;
              top: 0;
              width: 56px;
              @media all and (max-width: 800px) {
                display: none;
              }
            }
            @media all and (min-width: 801px) {
              padding-left: 70px;
            }
          }
          &.selected,
          &:hover {
            background-color: #fff;
          }
        }
      }
    }
    .tabs_content {
      background-color: #fff;
      margin: 0 auto auto auto;
      max-width: 800px;
      transition-duration: 0.5s;
      transition-property: opacity;
      transition-timing-function: linear;
      .tab_content {
        align-content: center;
        box-sizing: border-box;
        display: none;
        flex-wrap: wrap;
        margin: auto auto;
        max-width: 800px;
        opacity: 0;
        .chart_container {
          box-sizing: border-box;
          margin-bottom: 20px;
          margin: auto auto;
          padding: 20px;
          width: 100%;
          iframe {
            border: none;
            height: 450px !important;
            margin-bottom: 20px;
            min-width: 100% !important;
            width: 0;
            @media all and (max-width: 490px) {
              height: 400px !important;
            }
          }
          .growths_container {
            .growth_container {
              margin-bottom: 10px;
              .growth_label {
                color: #000;
                display: inline-block;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 0.02em;
                line-height: 40px;
                text-transform: uppercase;
                vertical-align: -4px;
              }
              .growth_value {
                color: #009edb;
                display: inline-block;
                font-size: 42px;
                font-weight: 600;
                letter-spacing: 0.02em;
                line-height: 40px;
                margin-left: 10px;
                vertical-align: middle;
              }
              .growth_meta {
                color: #6E6259;
                font-size: 15px;
                font-weight: 300;
                margin-left: 10px;
                vertical-align: -1px;
              }
            }
          }
        }
        .close_container {
          margin-bottom: 20px;
          text-align: center;
          width: 100%;
          button {
            background-color: #fff;
            border-radius: 4px;
            border: 1px solid #009edb;
            box-sizing: border-box;
            color: #454545;
            cursor: pointer;
            display: inline-block;
            font-family: Roboto;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1.27px;
            line-height: 1;
            margin-bottom: 10px;
            min-width: 200px;
            padding: 10px 15px;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            &:hover {
              background-color: #e6e6e6;
              border-color: #adadad;
              color: #333;
            }
          }
        }
      }
    }
  }
}

@import 'basics.less';